ul,body {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mui-select-root{
  width: 254px;
  height: 40px;
  padding: 0.2rem;
  border: 1px solid #e9e9e9;
  background-color: transparent;
  display: flex;
}

.mui-select-value{
   width:80%;
  height: 100%;
  cursor: pointer;
  font-family: Roboto, 'sans-serif';
}

.mui-select-arrow-button{
  width:20%;
  height: 100%;
  fill: #e9e9e9;
  background-color: transparent;
  border: none;
  outline: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mui-select-items-container{
  max-height: 300px;
  position: fixed ;
  padding: 18px 0;
  background-color: #fff;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  overflow-y: auto;
}

.mui-select-list-item{
  height: 40px;
  font-family: Roboto, 'sans-serif';
  font-size: 20px;
  padding:0 24px;
  cursor: pointer;
  display: flex;
  align-items: center; 
}

.mui-select-list-item:hover{
  background-color: #e9e9e9;
}

.mui-select-list-item.active{
color: #f50057;
}

.mui-select-items-container-wrapper{
  width:100vw;
  height: 100vh;
  position: fixed;
}
